

h1{
    text-align: center;
}


.statistics{
    background-color: white;
    width: 100%;
    border-radius: 10px;


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    -webkit-box-shadow: 0px 1px 5px 0px rgba(161,161,161,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(161,161,161,1);
    box-shadow: 0px 1px 5px 0px rgba(161,161,161,1);
}


.statistics .title {
    background-color: orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;

    width: 100%;

}

.statistics .body {
    background-color: orange;

    padding: 10px;
    width: 100%;
    height: 300px;

}

.statistics .bottom-discription {
    background-color: orange;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding: 10px;
    width: 100%;

}